<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content="Joey Dreijer, Yaleesa Borgman" name="author"/>
  <meta name="csrf-token" content="{{ csrf_token() }}">

	<title>RE://TERNAL</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />

	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/animate.min.css" rel="stylesheet"/>
  <link href="/static/css/paper-dashboard.css" rel="stylesheet"/>
  <link href="/static/css/animate.css" rel="stylesheet">
  <link href="/static/css/custom.css" rel="stylesheet">
  <link href="/static/css/vis.min.css" rel="stylesheet">

  <script src="/static/js/font_all.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  <link href="/static/css/themify-icons.css" rel="stylesheet">
  <link href="/static/css/jquery.terminal.min.css" rel="stylesheet">

	<script src="/static/js/jquery.min.js" type="text/javascript"></script>
	<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/static/js/jquery.terminal.min.js" type="text/javascript"></script>
	<script src="/static/js/datatables.min.js" type="text/javascript"></script>
  <script src="/static/js/handlebars.min-latest.js" type="text/javascript"></script>
  <script src="/static/js/isotope.min.js" type="text/javascript"></script>
  <script src="/static/js/socket.io.js" type="text/javascript"></script>
	<script src="/static/js/bootstrap-select.min.js" type="text/javascript"></script>


  <script>
    var csrftoken = $('meta[name=csrf-token]').attr('content')
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    });

    var socket = io.connect('http://' + document.domain + ':' + location.port);
  </script>
</head>
<body>

{% include "handlebars.html" %}

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    <img src="/static/img/reternal.png" width=180></img><br/>
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/">
                      <i class="fas fa-tachometer-alt navbar-icon"></i>
                      <p>Dashboard</p>
                    </a>
                </li>

								<li class="fold-page" data-target="tactical">
										<a class="foldout" style="cursor:pointer;">
											<i class="far fa-map navbar-icon"></i>
											<p>Tactical Map</p>
										</a>
								</li>

                <li class="fold-page" data-target="payload">
                    <a class="foldout" style="cursor:pointer;">
                      <i class="fas fa-download navbar-icon"></i>
                      <p>Payloads</p>
                    </a>
                </li>

                <li class="fold-page" data-target="aliases">
										<a class="foldout" style="cursor:pointer;">
											<i class="far fa-bookmark navbar-icon"></i>
											<p>Macros</p>
										</a>
								</li>

                <li class="fold-page" data-target="startuptasks">
										<a class="foldout" style="cursor:pointer;">
											<i class="far fa-calendar-alt navbar-icon"></i>
											<p>First-seen Tasks</p>
										</a>
								</li>

                <li class="fold-page" data-target="commands">
										<a class="foldout" style="cursor:pointer;">
											<i class="fas fa-terminal navbar-icon"></i>
											<p>Commands</p>
										</a>
								</li>

								<li class="fold-page" data-target="admin">
										<a class="foldout" style="cursor:pointer;">
											<i class="far fa-user navbar-icon"></i>
											<p>User Management</p>
										</a>
								</li>

								<li class="fold-page" data-target="project">
										<a class="foldout" style="cursor:pointer;">
											<i class="far fa-flag navbar-icon"></i>
											<p>Project Management</p>
										</a>
								</li>

            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">RE://TERNAL Content</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                      <li id="terminal-pop-button">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <i class="fas fa-terminal"></i>
                              <p>Terminal</p>
                          </a>
                      </li>

                      <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-eye service-icon" aria-hidden="true"></i>
                          <p>Views</p>
                          <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" id="beacon_filter_html">
                            </ul>
                      </li>

                      <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-check-circle service-icon" aria-hidden="true"></i>
                          <p>Beacons</p>
                          <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" id="beacon-select-html">
                            </ul>
                      </li>

                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <i class="fas fa-cog service-icon" aria-hidden="true"></i>
														<p>Settings</p>
														<b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Change Account</a></li>
                                <li><a href="/api/logout">Log Out</a></li>
                              </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">

							<div class="bottom-slider-results" style="display:none;">
								<div id="term_demo"></div>
							</div>


              <div class="right-slider-menu slider-menu" style="display:none; overflow:scroll;">
                <div class="right-slider-button">
                  <i class="fa fa-2x fa-times" aria-hidden="true"></i>
                </div>
                <div class="right-slider-menu-container">
                </div>
              </div>

                <div class="row">
                  <div class="col-sm-4">
                    <div class="post-item">
                        <div class="service" data-height="height">
                            <div class="service-element">
                              <i class="far fa-check-circle service-icon" aria-hidden="true"></i>
                            </div>
                            <div class="service-info">
                                <h3>Beacons</h3>
                                <div id="dashboard_stats_html_beacons">
                                </div>
                              </div>
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="post-item">
                        <div class="service" data-height="height">
                            <div class="service-element">
                              <i class="far fa-chart-bar service-icon" aria-hidden="true"></i>
                            </div>
                            <div class="service-info">
                                <h3>Workers</h3>
                                <div id="dashboard_stats_html_workers">
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Blueprint</th>
                                        <th>State</th>
                                      </tr>
                                    </thead>
                                    <tr>
                                      <td>HTTP</td>
                                      <td>Online</td>
                                    </tr>
                                    <tr>
                                      <td>GMail</td>
                                      <td>Online</td>
                                    </tr>
                                  </table>
                                </div>
                               </div>
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="post-item">
                        <div class="service" data-height="height">
                            <div class="service-element">
                              <i class="far fa-flag service-icon" aria-hidden="true"></i>
                            </div>
                            <div class="service-info">
                                <h3>Projects</h3>
                                <div id="dashboard_stats_html_projects">
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>

                <div class="row" id="commandrow">
                  <form name="taskapi" class="form taskform" action="/api/tasks" method="POST">
                    <div class="col-md-3">
                      <div class="col-padding">
                        <select id="commandlist_html" class="form-control form-control-tasks selectcustom" title="Choose command">
                        </select>
                    </div>
                   </div>

                    <div class="col-md-7">
                      <div class="col-padding">
                        <input type='text' placeholder="Command input" class="form-control-tasks form-control selectcustom" id='commandinput' name='commandinput' class="inputfield"/>
                      </div>
                    </div>

                    <div class="col-md-2">
                      <div class="col-padding">
                        <input type='submit' class="btn btn-danger selectcustom" name='submit' id='pushtask' value='Submit'>
                      </div>
                    </div>
                   </form>
                </div>

                <div class="row" id="beacon-row">
                  <div class="grid-beacons" id="beacon_panel_html">
                  </div>
                </div>


            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                      <li>
                        <a href="/">
                            RE://TERNAL Command and Control
                        </a>
                      </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Joey Dreijer and Yaleesa Borgman</a>
                </div>
            </div>
        </footer>

        </div>
      </div>
    </body>

    <script src="static/js/bootstrap-checkbox-radio.js"></script>
    <script src="static/js/bootstrap-notify.js"></script>
		<script src="static/js/jstree.min.js"></script>
    <script src="static/js/paper-dashboard.js"></script>
    <script src="static/js/overwatch_ajax_request.js" type="text/javascript"></script>
    <script src="static/js/overwatch_ajax_results.js" type="text/javascript"></script>
    <script src="static/js/overwatch_ui_functions.js" type="text/javascript"></script>
    <script src="static/js/layout.js" type="text/javascript"></script>
    <script src="static/js/vis.min.js" type="text/javascript"></script>
		<script src="static/js/terminal_main.js" type="text/javascript"></script>

    <script>

    var isotope_grid_posts = $('#beacon_panel_html').isotope({
      itemSelector: '.beacon-item'
    });

    var global_namespace = {
      'shell_mode': false,
			'active_beacon': '',
      'queue_status': false,
      'current_directory': false,
      'terminal_tasks':[],
      'command_list': [],
      'active_panels':[],
      'directory_queue':[],
      'commands_available':{},
      'user_details': {},
      'directory_queue':false
    };

    var commandList = [];
    var storageTaskOutputs =  {};
    var treeData = "";

		socket.on('taskfinished', function (msg) {
      taskid = $('<div/>').text(msg.data.taskid).html();
      var formUrl = "/api/task/" + taskid;
      apiGet(formUrl, "getresultsingle");
    });

    </script>
  </html>
